*{
  margin: 0px;
  padding:0
}
.container{
  display: flex;
  justify-content:center;
  align-items:center;
  margin-left: 30px;
  
  /* background-color:red; */
  /* position: absolute;
  top: 40%;
  left: 50%; */
  width:10%;
  

}
.increament,.decreament{
  width:90px;
  background-color:skyblue;
  height:30px;
  /* position:relative; */
  
}

a{
  text-align: center;
  
}
.inputvalue{
  width:60px;
  height:30px;
}